; This is false to avoid issues in GitHub actions
git-checks=false

engine-strict=true
strict-peer-dependencies=false
auto-install-peers=true
link-workspace-packages=true
shared-workspace-lockfile=true
save-workspace-protocol=rolling
save-prefix=
resolution-mode=time-based